# **Task 1**

In [1]:
import pandas
adv1_df = pandas.read_csv("advertising_1.csv", index_col='Number')
adv1_df.head(10)

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
5,68.95,256.09,Cloned 5thgeneration orchestration,0
6,80.23,193.77,Monitored national standardization,0
8,74.15,245.89,Triple-buffered reciprocal time-frame,0
9,NaN,225.58,Robust logistical utilization,0
10,59.99,226.74,Sharable client-driven software,0
11,88.91,208.36,Enhanced dedicated support,0
12,NaN,131.76,Reactive local challenge,1
13,74.53,NaN,Configurable coherent function,0
14,69.88,183.82,Mandatory homogeneous architecture,0
15,47.64,122.02,Centralized neutral neural-net,1

# **Task 2**

In [2]:
adv1_df.shape
print(adv1_df.loc[8,"Daily Internet Usage"])

245.89

# **Task 3**

In [3]:
adv2_df = pandas.read_csv("advertising_2.csv", index_col='Number')
adv2_df.loc[533:536]

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
533,46.61,NaN,Ergonomic methodical encoding,1
534,NaN,162.03,Compatible dedicated productivity,0
535,65.10,118.10,Up-sized real-time methodology,1
536,53.44,NaN,Up-sized next generation architecture,1